
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <img src="http://placehold.it/140x100" alt="profile image">
    </div>
    <div class="col-md-6 col-md-offset-2">
      <h1>Your name Here!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h3>Post</h3>
      <button class='btn-info btn-md pull-right'><a href='#/post/:postId/create'>POST</a></button>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron">
      <div class="col-md-6 col-md-offset-2">Your Post show up here.</div>
      <button class='btn-info btn-sm pull-right'><a href='#/post/:postId/edit'>Update</a></button>
      <button class='btn-danger btn-sm pull-right'>delete</button>
    </div>
  </div>
</div>
