
<div class="container magin-top: 50px;">
  <div class="row">
    <div class="col-md-6">
      Email:
      <input type="email">
      Password:
      <input type="password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      First Name:
      <input type="text">
      Confirm Password:
      <input type="password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      Last Name:
      <input type="text">
      Age:
      <input type="number">
    </div>
  </div>
  <button class='btn-success btn-lg pull-center'>Sign Up</button>
</div>
